<section class="home-section" id="home">
    <div class="container home-container">
        <h1 class="home-title">Ironshore</h1>
        <h2 class="home-subtitle">Echo Diver</h2>
        <picture>
            <source srcset="
              /img/home/desk.png 1x,
              /img/home/desk@2x.png 2x
                " media="(min-width: 1440px)" />
            <source srcset="
               /img/home/mob.png 1x,
              /img/home/mob@2x.png 2x
               " media="(max-width: 1439px)" />
            <img class="home-img" src="/img/home/mob.png" alt="Ironshore Echo Diver" loading="lazy" />
        </picture>
        <div class="home-wrapper">
            <h3 class="home-article">ECHO-LOCATION</h3>
            <p class="home-text">In the lightless depths of the Ironshore, your eyes are useless. Sound is your only canvas, and silence is the wall.
            Send a pulse to illuminate the void, mapping the world one echo at a time.</p>
        </div>
    </div>
</section>