.header {
  position: fixed;
  top: 8px;
  left: 50%;
  transform: translateX(-50%);
  z-index: 999;
  border-radius: 4px;
  padding: 0px 16px;
  width: 359px;
  height: 52px;
background: linear-gradient(180deg, #000 0%, rgba(0, 0, 0, 0) 100%);
}

.header-container {
  padding: 3px 16px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}



.menu-button {
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid #757575;
  width: 40px;
  height: 40px;
  margin-left: auto;
  background-color: inherit;
}

.navigation-list {
  display: none;
}

/* Modal */
.modal {
  display: none;
  background-image: url("/img/header/mob.png");
  background-repeat: no-repeat;
  background-position: top center;
  background-size: cover;
  padding: 170px 80px;
  width: 100%;
  height: auto;
  z-index: 1000;
  position: fixed;
  top: 56px;
  left: 50%;
  transform: translateX(-50%);
  transition: visibility 0.3s ease;
}

.menu-list {
  display: flex;
  flex-direction: column;
  gap: 24px;
  align-items: center;

}


.menu-item {
  padding: 8px 12px;
  height: 38px;
font-size: 16px;
text-align: center;
  text-align: center;
  transition: border 0.3s ease-in-out;
}

.menu-item:hover,
.menu-item:focus,
.menu-item.active {
border: 1px solid #cecece;
}


@media screen and (min-width: 1440px) {
  .header {
    width: 1280px;
    top: 16px;
  }

  .header-container {
    display: flex;
    justify-content: start;
    align-items: center;
    padding: 6px 16px;
    gap: 40px;
  }

  .menu-button {
    display: none;
  }

  .navigation-list {
    display: flex;
    justify-content: center;
    gap: 24px;
  }

  .navigation-item {
    padding: 8px 12px;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all 0.3s ease-in-out;
    font-size: 16px;
  }

  .navigation-item:hover {
    font-weight: 600;
  }

  .navigation-item:focus,
  .navigation-item.active {
border: 1px solid #cecece; 
 }

}