.home-section{
    background-image: url("/img/home/hero-mob.png");
    background-repeat: no-repeat;
    background-position: top center;
    background-size: cover;
    height: 812px;
}
.home-container{
    position: relative;
}
.home-img{
   position: absolute;
   top: 210px;
   right: 0;
}
.home-title{
    margin-top: 176px;
    font-family: "Space Mono", sans-serif;
        font-weight: 400;
        font-size: 52px;
        line-height: 0.8;
        letter-spacing: 0.1em;
        text-transform: uppercase;
        text-align: center;
        color: #fefefe;
margin-bottom: 10px;
}
.home-subtitle{
    font-family: "Space Mono", sans-serif;
        font-weight: 400;
        font-size: 32px;
        line-height: 0.8;
        letter-spacing: 0.02em;
        text-transform: uppercase;
        text-align: right;
        color: #fefefe;
}
.home-wrapper{
    margin-top: 298px;
}
.home-article{
    margin-bottom: 16px;
}
@media only screen and (min-width: 1440px) {
.home-section{
background-image: url("/img/home/hero-desk.png");
}
.home-title{
    margin-top: 100px;
    font-size: 192px;
letter-spacing: 0.14em;
margin-bottom: 0;
}
.home-subtitle{
    font-size: 86px;
}
.home-img{
    margin-top: -10%;
    left: -1%;
}
.home-wrapper{
    width: 388px;
}
.home-text{
    line-height: 1.36;
        letter-spacing: -0.04em;
}
}